body{

	background-color: rgb(50,205,50);
	overflow: hidden;
	margin:0;
}

*{
	color: widht;
}

h1{

	font-size: 50px;
	color: Black;
}

div.panel{
	background-color: gray;
	width: 70%;
	padding: 15px 15 px;
	box-shadow: 5px 5px Black;
}